services:
  database:
    image: postgres:17
    container_name: mundial2026DataBase
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_database:/var/lib/postgresql/data

volumes:
  postgres_database: